.partnertable table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-family: 'Ubuntu Mono';
    border-spacing: 5px;
}
.partnertable tr {
    border: 1px solid black;
}

.partnertable th, td{
    padding: 8px;
    text-align: left;
    border: 1px black;
}