.privacyact {
    float: left;
    margin-left: 10%;
    font-family: 'Ubuntu Mono';
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    background-color: rgba(153, 153, 153, 0.384);
    color: white;
    text-shadow: 6px 5px 4px black;
}