<!DOCTYPE html>
<!--
    Welcome To Centural!
    If your interested in becoming a web developer, contact BonesdogNardwe!

    - Centural Web Development Team
-->
<html lang="en-US">
    <!--Correct Scaling accross all platforms-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <!--Links-->
            <link href="/assets/css/navbar.css"> <!--Top Navigation Bar CSS-->
            <!--Fonts-->
                <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
                <link href='https://fonts.googleapis.com/css?family=Ubuntu Mono' rel='stylesheet'>
        <style>
            .body, html {
                height: 100%;
            }
            .bg {
                background-image: url("/assets/images/Centural_Backdrop_0.png");
            }
        </style>
    </head>
    <body id="wrapper">
        {{ content }}
    </body>
</html>